<div id="wrapper">


    <div class="mainContainer" ng-controller="admin_controller">


        <div ng-show="loggedIn">

            <div id="page-wrapper">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-9">
                        <h2 class="page-header">User: {{fullName}}</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2 class="page-header">{{user}}</h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-meh-o fa-fw"></i> Accounts

                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">

                                <div class="row centered-form">


                                    <div>
                                        <div class="panel panel-default">

                                            <div class="row-fluid"
                                                 style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                                <label class="col-sm-3 control-label">Username</label>

                                                <label class="col-sm-3">Full Name</label>

                                                <label class="col-sm-4">Token Balance</label>
                                            </div>

                                            <div class="panel-heading">

                                            </div>

                                            <div class="panel-body">
                                                <div ng-repeat="account in accounts">
                                                    <div class="row" style="margin-bottom:10px;">
                                                        <div class="col-sm-3 control-label">{{account.username}}
                                                        </div>

                                                        <div class="col-sm-3">{{account.first_name}}
                                                            {{account.last_name}}
                                                        </div>

                                                        <div class="col-sm-3 control-label">
                                                            {{getTokenBalance(account.username)}}
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <button type="submit"
                                                                    ng-click="requestData(account.username)"
                                                                    class="btn btn-primary"
                                                                    style="width:100px">Get Data
                                                            </button>
                                                        </div>

                                                        <div ng-show="gotAttribute(account.username)"
                                                             class="col-md-10">
                                                            <div>RESULT: {{gotAttribute(account.username)}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="progress progress-striped active"
                                                             ng-show="userQueryInProgress(account.username)"
                                                             style="margin:10px">
                                                            <div class="progress-bar" role="progressbar"
                                                                 aria-valuenow="100"
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: 100%">
                                                                Querying ...
                                                            </div>
                                                        </div>

                                                        <div class="center-block">{{queryStatus}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-cog fa-fw"></i> My Account
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-money fa-fw"></i> Balance
                                    <span class="pull-right"><em>{{accountBalance}}&#402;</em>
                                    </span>
                                    </a>

                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-money fa-fw"></i> Token Balance
                                    <span class="pull-right"><em>{{accountTokens}} &#8366;</em>
                                    </span>
                                    </a>

                                </div>


                            </div>
                            <!-- /.panel-body -->
                        </div>

                        <!-- /.panel -->
                        <div class="chat-panel panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-comments fa-fw"></i>
                                Actions

                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">

                                <button type="submit"
                                        ng-click="requestTokens()"
                                        class="btn btn-primary"
                                        style="width:300px">Request More Tokens [test]
                                </button>

                            </div>

                            <!-- /.panel-footer -->
                        </div>
                        <!-- /.panel .chat-panel -->
                    </div>
                    <!-- /.col-lg-4 -->

                </div>


            </div>

        </div>
    </div>
</div>