<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <script type="text/ng-template" id="signIn">
                        <div ng-controller="controller">
                            <div class="modal-header">
                                <h3 class="modal-title">Log in to Your Account</h3>
                            </div>

                            <form name="form" ng-submit="logIn()">
                                <div class="modal-body">
                                    <div class="form-group">


                                        <div class="row extra-bottom-padding">
                                            <label class="col-md-3 control-label">Username:</label>

                                            <div class="col-md-6">
                                                <input type="text" class="form-control input-large"
                                                       ng-model="loginFormData.username" placeholder="Username"
                                                       required/>
                                            </div>
                                        </div>


                                        <div class="row extra-bottom-padding">
                                            <label class="col-sm-3 control-label">Password:</label>

                                            <div class="col-sm-6">
                                                <input type="password" name="name" class="form-control input-sm"
                                                       ng-model="loginFormData.password" placeholder="Password"
                                                       required/>
                                            </div>
                                        </div>

                                        <div class="row" ng-show="loginFailed">
                                            <div ng-message="required">{{loginErrorMessage}}</div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                                style="width:100px">Sign In
                                        </button>

                                        <button type="button" ng-click="showSignUpDialog()" class="btn btn-info"
                                                style="width:100px">Sign Up
                                        </button>

                                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </script>

                    <script type="text/ng-template" id="signUp">
                        <div ng-controller="controller">
                            <div class="modal-header">
                                <h3 class="modal-title">Create a New Account</h3>
                            </div>

                            <form name="form" ng-submit="createAccount()">

                                <div class="modal-body">
                                    <div class="form-group">

                                        <div class="row extra-bottom-padding">
                                            <div class="col-md-6 mb3p">
                                                <input type="text" class="form-control input-large"
                                                       ng-model="accountFormData.firstName"
                                                       placeholder="First Name" required>
                                            </div>
                                            <div class="col-md-6 mb3p">
                                                <input type="text"
                                                       class="form-control input-large"
                                                       name="last_name" ng-model="accountFormData.lastName"
                                                       placeholder="Last Name"
                                                       required>
                                            </div>
                                        </div>

                                        <div class="row extra-bottom-padding">
                                            <label class="col-md-3 control-label">Username:</label>

                                            <div class="col-md-6">
                                                <input type="text" class="form-control input-large"
                                                       ng-model="accountFormData.username" placeholder="Username"
                                                       required/>
                                            </div>
                                        </div>

                                        <div class="row extra-bottom-padding">
                                            <label class="col-md-3 control-label">Password:</label>

                                            <div class="col-sm-6">
                                                <input type="password" class="form-control input-large"
                                                       ng-model="accountFormData.password" placeholder="Password"
                                                       required/>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="modal-body">
                                    <div class="progress progress-striped active"
                                         ng-show="accountCreateInProgress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100"
                                             style="width: 100%;">
                                            Creating account ...
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="center-block">{{accountCreateStatus}}</div>
                                    </div>
                                </div>

                                <div class="modal-footer">

                                    <button type="submit" class="btn btn-primary"
                                            style="width:100px">Sign Up
                                    </button>

                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

                                </div>
                            </form>
                        </div>
                    </script>


                    <h1>my <span class="green-font">id</span> store</h1>
                    <h3>Manage <i>Your</i> Data!</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <!--<li>-->
                        <!--<button class="btn btn-default btn-sm" ng-click="openSignIn()"><span-->
                        <!--class="network-name">Sign In</span></button>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--<button class="btn btn-default btn-sm" ng-click="openSignUp()"><span-->
                        <!--class="network-name">Sign Up</span></button>-->
                        <!--</li>-->
                    </ul>
                    <div>
                        <h2>
                            <div class="progress" ng-show="accountCreateSuccess">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                    Account create successfully!
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Design Proposal</h2>
                <p class="lead">In today’s world, users do not own or control their data. Nevertheless, users’ profile
                    data,
                    ranging from social media credentials and data to address &amp; demographic information, to
                    sensitive personal
                    and financial data, are readily available and accessible from third party vendors. The user does not
                    control what data is made available,
                    nor who can access it, and the user is not compensated in any way for the shared personal data.</p>


                <p class="lead">Imagine a world where the user owns his own data, controls
                    which verified data attributes are shared, and gets compensated for sharing of those data
                    attributes. In this world, the consumer of the user’s data may then access the user’s
                    fully-authenticated data attributes, with the knowledge that the user has authorized access
                    to the data attributes.</p>

                <p class="lead">This is a proposal to design a technical framework to enable this
                    scenario, providing the following:</p>

                <ul class="lead">


                    <li>A secure, authenticated interface that allows the user to add verified profile data
                        elements, and to control which data elements are accessible, and to what extent.
                    <li>A means for the user to get compensated for access to particular data elements
                    <li>A secure framework to allow user data elements to be stored in a reliable, tamper-free
                        way, by leveraging the <em>Ethereum blockchain</em>
                    <li>An interface that allows consumers of users’ data to make requests for user data/verify
                        against user data and to pay the appropriate fees, using the Ethereum contract
                        infrastructure.

                </ul>

                <blockquote class="blockquote"><a href="./my-id-leanstack.pdf">Lean Stack Business Proposal</a></blockquote> </blockquote>
            </div>
            <!--<div class="col-lg-5 col-lg-offset-2 col-sm-6">-->
            <!--<img class="img-responsive" src="img/ipad.png" alt="">-->
            <!--</div>-->
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<a name="contact"></a>
<div class="banner">

    <div class="container">

        <!--<div class="row">-->

        <!--<div class="col-lg-6">-->
        <!--<ul class="list-inline banner-social-buttons">-->
        <!--<li>-->
        <!--<a href="#" class="btn btn-default btn-lg"><i-->
        <!--class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#" class="btn btn-default btn-lg"><i-->
        <!--class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span-->
        <!--class="network-name">Linkedin</span></a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->